<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheet/signup.css">
</head>
<body>
    <h1>Signup Details</h1>
    <div class="main">
        <label for="username" style="font-size: 4vh;">Enter Username: </label><br>
        <input required type="text" name="username" id="username"><br>
        <label for="mail" style="font-size: 4vh;">Enter Email: </label> <br>
        <input required type="email" name="mail" id="mail"><br>
        <label for="pass" style="font-size: 4vh;">Enter Password: </label> <br>
        <input required type="password" name="pass" id="pass"><br>
        <input type="button" name="login" id="login" value="signup">
        <a href="/loginUser">Login</a>
    </div>
    <script src="../javascript/signup.js"></script>
</body>
</html>